.home_slides{
	width:100%;
	height:450px;
	display:block;
	margin-top:20px;
	margin-left: 20px
}
.home_slides_img{
	width:1300px;
	height:440px;
	display:inline-block;
	-webkit-animation:banner 30s infinite;
	-ms-animation:banner 30s infinite;
	animation:banner 30s infinite;
}
.home_slides_img img{
	width:100%;
}
